<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login_inventorySuite">
  <test thread-count="5" name="Priority_Test">
    <classes>
      <class name="testCases.LoginPageTest"/>
      <class name="testCases.Inventory_page_2_Test"/>
    </classes>
  </test> <!-- Priority_Test -->
</suite> <!-- Login_inventorySuite -->
